.test/benchmarks/**
.test/logs/**
.test/resources/**
.test/results/**
.test/.snakemake/**
.test/*.zip
benchmarks/**
logs/**
resources/**
!resources/datavzrd/**
!resources/summary_plot.json
results/**
.snakemake/**